# --- Базовый Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Виртуальные окружения ---
venv/
.venv/
ENV/
env.bak/
venv.bak/

# --- Django ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# --- Транслятор (C++ / Pascal и временные файлы) ---
*.exe
*.out
*.app
*.o
*.obj
*.bin
*.bak
temp/
tests_output/

# --- Редакторы кода и IDE ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store.idea/
__pycache__/
*.pyc
venv/
